@charset "utf-8";
/*
时间：2015年8月26日15:46:41 
编写：陈国亮
*/

#jqgh_grid-table_cb{ padding-left: 4px;padding-top: 0;}
.modal-footer{text-align:center;}
.bootbox-body{font-size:15px;margin-top:5px;}

.cerror { border: 1px solid #a94442; }
.ccerror {color:#a94442;}

/*高级查询样式*/ 
.chaxunWaiDiv {
    min-height: 45px;
}

.GJ_LBL_WenBen {
    width: 80px;
    text-align: right;
}
.gaojiChaXun_hide {
    background-color: #fff;
    border: 0 solid #ccc;
    padding: 6px 6px 5px;
}
.gaojiChaXun_show {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    position: absolute;
    z-index: 1000;
}
.gaojiDiv {
    padding-top: 10px;
}
